$__primarycolor:#FF9F43;
$__primarycolorhover:#fe820e;
$__secondarycolor:#212B36;

$__white:#fff;
$__gray:#333;
$__gray__dark:#6E6B7B;
$__sandstone: #637381;
$__goose-gray: #cccccc;
$__light__gooses: #F8F8F8;
$__light__goosesvalue: #F3F2F7;
$__light-goose-grays:#E9ECEF;
$__light-goose:#E8EBED;
$__violet:#423B93;
$__violets:#1B2850;
$__violet__dark:#7367F0;
$__black:#000;
$__dark__ash__gray: #555;
$__dark__ash__grays:#212B36;
$__light__vampire: #f1f1f1;
$__light__vampires:#FAFBFE;
$__goose-grays: #B8BCC9;
$__light__smokey-gray:#5E5873;
$__light__smokey-grays:#292D32;
$__goose-greys:#565656;
$__sky__blue: #0d6efd; 
$__success__light: #26af48;
$__success__lights: #0F9D58;
$__purple__light: #c580ff;
$__successcolor: #28C76F;
$__dangercolor: #f62d51;
$__dangerred: #ff0000;
$__warningcolor: #FF9900;
$__warningcolors: #FC8543;
$__frog__blue: #989c9e;
$__fire__red: #EA5455;
$__grey__color:#8d8d8d;
$__gray__cloud: #999;
$__dark__gray__cloud: #9f9f9f;
$__cloud__gray: #eeeeee;
$__cloud__grays: #E0E0E0;
$__light__white: #fafafa;
$__light__whites: #E5E5E5;
$__dark__light: #f5f5f5;
$__dark__lights: #D8D8D8;
$__sandstones: #bdbdbd;
$__dark__blues: #32577D;
$__dark__violets: #092C4C;
$__dark__gray: #888888;
$__dark__grays: #B9B9C3;
$__light__battle__garys: #9e9e9e;
$__graybackblue: #38414A;

/*** default values ***/
$__full__width:100%;
$__half__width:50%;
$__full_height_window:100vh;
$__full__height:100%;
$__half__height:50%;
$__left:left;
$__right:right;
$__center:center;
$__block:block;
$__inline__block:inline-block;
$__inline:inline;
$__table:table;
$__flex:flex;
$__stretch:stretch;
$__column:column;
$__webkit__flex:-webkit-flex;
$__none:none;
$__absolute:absolute;
$__relative:relative;
$__static:static;
$__fixed:fixed;
$__unset:unset;
$__uppercase:uppercase;
$__lowercase:lowercase;
$__capitalize:capitalize;
$__inherit:inherit;
$__initial:initial;
$__auto:auto;
$__normal:normal;
$__margin__auto:0 auto;
$__null:null;
$__bottom:bottom;
$__middle:middle;
$__top:top;
$__transparent:transparent;
$__no_repeat:no-repeat;
$__cover:cover;
$__pointer:pointer;
$__not-allowed:not-allowed;
$__hidden:hidden;
$__show:show;
$__visible:visible;
$__both:both;
$__ellipsis:ellipsis;
$__nowrap:nowrap;
$__inline__flex:inline-flex;
$__underline:underline;

/***** custom values *****/
$__grid__padding__left:15px;
$__grid__padding__right:15px;
$__container__width:1140px;


/***** Grid Values *****/
$__col__1:8.33333333%;
$__col__2:16.66666667%;
$__col__3:25%;
$__col__4:33.33333333%;
$__col__5:41.66666667%;
$__col__6:50%;
$__col__7:58.33333333%;
$__col__8:66.66666667%;
$__col__9:75%;
$__col__10:83.33333333%;
$__col__11:91.66666667%;
$__col__12:100%;

$breakpoints: (
  'xxs': 'screen and (min-width: 440px)',
  'xs': 'screen and (min-width: 560px)',
  'sm': 'screen and (min-width: 680px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 991px)',
  'xl': 'screen and (min-width: 1440px)',
) !default;


/////////////// mixin //////////////


// 初期値はlg(tablet screen size)
@mixin mq($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// プレイスホルダーの色指定
@mixin placeholder($color) {
  &::placeholder {
    color: $color !important;
  }
}


@mixin position($__position_value,$__top_value,$__right_value,$__bottom_value,$__left_value){
  position:$__position_value;
  top:$__top_value;
  right:$__right_value;
  bottom:$__bottom_value;
  left:$__left_value;
}

@mixin transition($__property) {
  -webkit-transition: $__property;
  -ms-transition: $__property;
  transition: $__property;
}

@mixin rounded($unit) {
  border-radius: $unit;
}

@mixin margin-padding($__margin, $__padding) {
  margin: $__margin;
  padding:$__padding;
}