@import '../../variables.scss';

.button,.active {
  display: flex;
  width: 18px;
  height: 18px;
  border: 2px solid #092C4C;
  border-radius: 20px;
}

.active {
  &::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #fff;
    border: 2px solid #092C4C;
    border-radius: 20px;
    position: absolute;
    top: 6px;
    left: 6px;
  }
}

